:root {
  --topbar-h: 4rem;
  --sidebar-w: 240px;
}



.app-content {
  
  margin-left: var(--sidebar-w);
  width: calc(100vw  - var(--sidebar-w));
  min-width: 0;


 padding-top: var(--topbar-h);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  

  
  background-color: rgb(220, 223, 233);
  box-sizing: border-box;
}

/* Cuando tu sidebar se vuelve angosto en mobile */
@media (max-width: 768px){
  :root{
    --sidebar-w: 0px;          /* ya no hay sidebar a la izquierda */
    --sidebar-h-mobile: 64px;  /* altura de la barra */
  }

  .app-content{
    margin-left: 0;
    width: 100%;
    min-width: 0;

    /* debajo del navbar + barra */
    padding-top: calc(var(--topbar-h) + var(--sidebar-h-mobile));

    padding-left: 12px;
    padding-right: 12px;
  }
}

